<div id="page" class="w-full">
  <div>Иноформация по балансу</div>
  <div class="px-2 pb-2 pt-2 flex gap-4 bg-white text-base shadow-lg">
    <button
      class="focus:shadow-outline rounded-md border-2 border-gray-500 px-1 py-0.5 font-medium text-gray-900 hover:bg-gray-700 hover:text-white focus:outline-none"
      hx-indicator="#ind1" hx-get="/money/balance" hx-trigger="click" hx-target="#balance" hx-swap="innerHTML">
      Получить Баланс
    </button>
  </div>
  <div id="balance">
    {{ template "balance" . }}
  </div>
</div>
